<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thuypham.ptithcm.spotify">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashScreen"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.SoundService"
            android:enabled="true" />
        <service
            android:name=".service.NotificationService"
            android:enabled="true" />

<!--        <receiver-->
<!--            android:name=".service.BroadcastNotificationService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" >-->
<!--            <intent-filter>-->
<!--                <action android:name="notification" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!--        <provider-->
        <!--            android:name=".media.library.AlbumArtContentProvider"-->
        <!--            android:authorities="com.example.android.uamp.media.library.provider"-->
        <!--            android:exported="false"/>-->
    </application>

</manifest>